@*@model BlogIt.Models.UserProfie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserProfie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@
@model BlogIt.Models.UserProfie

<!DOCTYPE html>
<html>
<head>
    <title>Blogger Profile</title>
    <style>
        /* Style for the main container */
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        /* Style for the profile picture */
        .profile-pic {
            display: block;
            margin: 0 auto 20px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        /* Style for the profile name */
        .profile-name {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        /* Style for the profile description */
        .profile-desc, .profile-email {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        /* Style for the social media icons */
        .social-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

            .social-icons a {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 10px;
                border-radius: 50%;
                background-color: #ccc;
                color: #fff;
                text-align: center;
                line-height: 40px;
                transition: background-color 0.3s ease;
            }

                .social-icons a:hover {
                    background-color: #666;
                }
        /* Style for the blog posts */
        .blog-posts {
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }

            .blog-posts h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .blog-posts p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .blog-posts a {
                font-size: 16px;
                color: #333;
                text-decoration: none;
                transition: color 0.3s ease;
            }

                .blog-posts a:hover {
                    color: #666;
                }

        img.facebook {
            width: 40px;
            height: 40px;
        }
    </style>
</head>

<body>
    <div style="text-align: right;" class="mb-2">
        <div style="float: right;">
            <div>
                @if (Model.UserId != ViewBag.currentUserId && (ViewBag.FollowingList == null || !ViewBag.FollowingList.Contains(Model.UserId)))
                {
                    <a asp-action="Index" asp-controller="Followers" asp-route-userId="@Model.UserId" style="text-decoration:none">Follow</a>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Profile picture -->
        <img class="profile-pic" style="height:100px;width:100px" src="@Model.ProfilePic" alt="Profile picture" />

        <!-- Profile name and description -->
        <h1 class="profile-name">@Model.Name</h1> 
        <p class="profile-email">@Model.Email</p>
        <p class="profile-desc">@Model.Interests</p>
        <div class="profile-desc">
            <p>@Model.Description</p>
        </div>
        <!-- Social media icons -->
        <div class="social-icons">
            @if (!string.IsNullOrEmpty(Model.Facebook))
            {
                <a href="@Model.Facebook"><img class="facebook" style="height:40px;width:40px" src="/images/facebook.jpg"></a>
            }
            @if (!string.IsNullOrEmpty(Model.Twitter))
            {
                <a href="@Model.Twitter"><img class="Twitter" style="height:40px;width:40px" src="/images/Twitter.png"></a>
            }
            @if (!string.IsNullOrEmpty(Model.Instagram))
            {
                <a href="@Model.Instagram"><img class="instagram" style="height:40px;width:40px" src="/images/instagram.jpg"></a>
            }
            @if (!string.IsNullOrEmpty(Model.Youtube))
            {
                <a href="@Model.Youtube"><img class="YouTube" style="height:40px;width:40px" src="/images/YouTube.png"></a>
            }
        </div>
    </div>
    <div class="container">
        <h1 class="text-center">Blog List</h1>
        <hr />
        <div class="row">
            @foreach (var item in ViewBag.UserBlogs)
            {
                <div class="col-md-8 offset-md-2 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">@item.Title</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-muted" style="text-align:center;color:black">
                                <span class="label"></span>Category: @item.BlogCategory.Name
                                @*<span class="label"></span>@Html.DisplayFor(modelItem => item.User.UserName)*@
                                <span class="label"></span>Date: @item.Date
                            </p>
                            <p class="card-text">@Html.Raw(item.content)</p>

                        </div>
                        <div class="card-footer">

                            <hr />
                            @{
                                var Comments = ViewBag.Comments[item.Id];
                            }
                            @if (Comments != null && Comments.Count != 0)
                            {
                                <h4>Comments:</h4>
                                @foreach (var comment in Comments)
                                {
                                    var commenterProfile = ViewBag.UserProfiles[comment.UserId];
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                @if (!string.IsNullOrEmpty(commenterProfile.ProfilePic))
                                                {
                                                    <img src="@commenterProfile.ProfilePic" class="rounded-circle mr-2" width="40" height="40">
                                                }
                                                <p class="mb-0"><b>@commenterProfile.Name</b></p>
                                            </div>
                                            <p class="card-text">@comment.Content</p>
                                            <p class="card-text text-muted">@comment.Date.ToString("d MMM yyyy, h:mm tt")</p>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No comments yet.</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>


