@model BlogIt.Models.UserProfie
@using System.Linq
<!DOCTYPE html>
<html>
<head>
    <title>Blogger Profile</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .profile {
            width: 30%;

        }

        .blogs {
            width: 200%;
            justify-content:center
        }
        /* Style for the profile picture */
        .profile-pic {
            display: block;
            margin: 0 auto 20px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }

        /* Style for the profile name */
        .profile-name {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        /* Style for the profile description */
        .profile-desc, .profile-email {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }

        /* Style for the social media icons */
        .social-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

            .social-icons a {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 10px;
                border-radius: 50%;
                background-color: #ccc;
                color: #fff;
                text-align: center;
                line-height: 40px;
                transition: background-color 0.3s ease;
            }

                .social-icons a:hover {
                    background-color: #666;
                }

        /* Style for the blog posts */
        .blog-posts {
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }

            .blog-posts h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .blog-posts p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .blog-posts a {
                font-size: 16px;
                color: #333;
                text-decoration: none;
                transition: color 0.3s ease;
            }

            .blog-posts a:hover {
                color: #666;
            }

        .label {
            margin-right: 70px;
        }
    </style>

</head>


<body>
    <div style="text-align: right;" class="mb-2">
        <div style="float: right;">
            <div>
                <a asp-action="Index" asp-controller="Blogs" class="btn btn-primary" style="background-color:indianred">My Blogs</a>

            </div>
        </div>
    </div>
    <div class="container row" style="margin-top:10px">
        <div class="Profile col" style="margin-top:20px">
            <!-- Profile picture -->
            <img class="profile-pic" style="height:100px;width:100px" src="@Model.ProfilePic" alt="Profile picture" />

            <!-- Profile name and description -->
            <h1 class="profile-name">@Model.Name</h1>
            <p class="profile-email">@Model.Email</p>
            <p class="profile-desc">@Model.Interests</p>
            <div class="profile-desc">
                <p>@Model.Description</p>
            </div>
         
            <!-- Social media icons -->
            <div class="social-icons">
                @if (!string.IsNullOrEmpty(Model.Facebook))
                {
                    <a href="@Model.Facebook"><img class="facebook" style="height:40px;width:40px" src="/images/facebook.jpg"></a>
                }
                @if (!string.IsNullOrEmpty(Model.Twitter))
                {
                    <a href="@Model.Twitter"><img class="Twitter" style="height:40px;width:40px" src="/images/Twitter.png"></a>
                }
                @if (!string.IsNullOrEmpty(Model.Instagram))
                {
                    <a href="@Model.Instagram"><img class="instagram" style="height:40px;width:40px" src="/images/instagram.jpg"></a>
                }
                @if (!string.IsNullOrEmpty(Model.Youtube))
                {
                    <a href="@Model.Youtube"><img class="YouTube" style="height:40px;width:40px" src="/images/YouTube.png"></a>
                }
                <div class="profile-footer">
                    <a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration:none">Edit Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-left:60px">
                    <a asp-action="Followers" asp-controller="Followers" style="text-decoration:none">Followers</a>
                </div>
                <div class="col">
                    <a asp-action="Following" asp-controller="Followers" style="text-decoration:none">Following</a>
                </div>
            </div>
        </div>
        <div class="blogs col">
            <div class="row">
                @if (ViewBag.BlogListTop2 == null)
                {
                    <div class="col-md-8 offset-md-2 mb-4">
                        <div class="card" style="width: 600px; height: 300px;">
                            <div class="card-header">
                                <p style="text-align:center"><i>....No Blogs posted....</i></p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h5 class="text-center" style="-ms-text-underline-position:50px;padding-left:200px">Latest Blogs</h5>
                @foreach (var item in ViewBag.BlogListTop2)
                {
                    <a href="@Url.Action("Details", "Blogs", new { id = item.Id })" style="text-decoration: none; color: inherit;">
                        <div class="col-md-8 offset-md-2 mb-4">
                            <div class="card" style="width: 600px; height: 300px;">
                                <div class="card-header">
                                    <h3 class="text-center">@item.Title</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-muted">
                                        <span class="label"></span>Category: @item.BlogCategory.Name
                                        <span class="label"></span>Date: @item.Date
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                }
                }
            </div>
        </div>
        
       </div>
        
    </body>
</html>


